{% extends 'base.html.twig' %}

{% block title %}Lista de usuários
{% endblock %}

{% block body %}
	<div class="container mx-auto max-w-7xl px-4">
		<h2 class="text-4xl font-semibold mb-2">Lista de usuários</h2>

		<div class="flex justify-end">
			<a class="px-2 py-1.5 rounded bg-indigo-600 text-indigo-100 transition duration-300 hover:bg-indigo-500" href="{{ path('new_user') }}">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
				</svg>
			</a>
		</div>

		{{form(form)}}

			<div class="flex overflow-x-auto bg-white mt-4 shadow border">
				<table class="w-full">
					<thead>
						<td class="px-3 py-2 font-semibold uppercase bg-gray-100">#</td>
						<td class="px-3 py-2 font-semibold uppercase bg-gray-100">Nome</td>
						<td class="px-3 py-2 font-semibold uppercase bg-gray-100">E-mail</td>
						<td class="px-3 py-2 font-semibold uppercase bg-gray-100">Cadastrado em</td>
						<td class="px-3 py-2 font-semibold uppercase bg-gray-100">Alterado em</td>
						<td class="px-3 py-2 font-semibold uppercase bg-gray-100">Ações</td>
					</thead>
				</th>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="px-3 py-2">{{ user.id }}</td>
						<td class="px-3 py-2">{{ user.name }}</td>
						<td class="px-3 py-2">{{ user.email }}</td>
						<td class="px-3 py-2">{{ user.createdAt|date('d/m/Y H:i') }}</td>
						<td class="px-3 py-2">{{ user.updatedAt|date('d/m/Y H:i') }}</td>
						<td class="px-3 py-2">
							<div class="flex space-x-4">
								<a class="px-2 py-1.5 rounded bg-blue-600 text-blue-100 transition duration-300 hover:bg-blue-500" href="{{ path('show_user', {'id': user.id}) }}">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C21.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"/>
										<path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
									</svg>
								</a>

								<a class="px-2 py-1.5 rounded bg-green-600 text-green-100 transition duration-300 hover:bg-green-500" href="{{ path('update_user', {'id': user.id}) }}">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/>
									</svg>
								</a>

								<a class="px-2 py-1.5 rounded bg-red-600 text-red-100 transition duration-300 hover:bg-red-500" href="{{ path('delete_user', {'id': user.id}) }}">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
									</svg>
								</a>
							</div>
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table></div></div>{% endblock %}
